<div
  *ngIf="cursorEnabled"
  class="app-cursor-layer"
  [class.is-visible]="cursorVisible"
  [class.is-interactive]="cursorInteractive"
  [class.is-pressed]="cursorPressed"
  aria-hidden="true"
>
  <div
    class="app-cursor-ring"
    [style.left.px]="cursorRingX"
    [style.top.px]="cursorRingY"
  ></div>
  <div
    class="app-cursor-dot"
    [style.left.px]="cursorX"
    [style.top.px]="cursorY"
  ></div>
</div>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-contact></app-contact>
